.serviceCard {
    border: none;
    transition: transform 0.3s;
    margin-bottom: 30px;
    background-color: transparent;
  }
  
  .serviceCard:hover {
    transform: translateY(-5px);
  }
  
  .serviceContent {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    border-radius: 5px;
  }
  
  .serviceContent {
    display: flex;
    flex-wrap: wrap;
  }
  
  .serviceImage {
    flex: 1;
  overflow: hidden;
  padding: 0;
  max-height: 290px; /* Adjust the height as desired */
  height: 290px;
  position: relative;
  border-radius: 5px 0 0 0;
  }
  
  .serviceImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0;
  }
  
  .serviceBody {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

  }
  
  .serviceTitle {
    font-size: 1.5rem;
    display: none;
  }
  
  .serviceBody h6 {
    font-weight: 400;
    color: #333333;
  }
  
  .serviceBody h4 {
    font-weight: 900;
    color: #333333;
  }
  
  .meta {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 12px;
    color: #5a5a5a;
  }
  
  .metaItem {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .metaIcon {
    margin-right: 0.5rem;
  }
  
  .serviceDescription {
    margin-bottom: 1rem;
    color: #5a5a5a;
  }
  
  .serviceDescription p {
    margin-bottom: 0.5rem;
  }
  
  .serviceDescription button {
    margin-top: 1rem;
  }
  
  .exchangeWith {
    display: inline-block;
    position: relative;
    padding: 8px;
    border: 1px solid #888888;
    padding: 15px;
    margin-top: 20px;
    display: none;
  }
  
  .exchangeWith::before {
    content: 'Exchange With';
    position: absolute;
    top: -12px;
    left: -12px;
    padding: 4px;
    background-color: #fff;
    font-weight: 400;
    font-size: 13px;
  }
  
  .exchangeWith h5 {
    font-weight: 900;
    color: #333333;
    font-size: 18px;
  }
  
  .serviceInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .verticalBox {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    flex-direction: column;
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0); /* Adjust the colors as desired */
    height: 100%;
    color: #333;
    justify-content: center;
    border-bottom: solid 1px #c5c5c5;
    border-radius: 0 5px 0 0;
  }

  .verticalBox:last-child{
    border-bottom: 0;
  }

  .verticalBox span{
         font-size: 10px;
  }
  
  .verticalIcon {
    margin-bottom: 5px;
    color: #333;
  }

  .adTitle{
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #333333d2;
    width: 100%;
    margin-bottom: 0;
    font-size: 15px;
    padding: 10px 5px;
  }
  
  @media (max-width: 768px) {
    .serviceContent {
      flex-direction: column;
    }
  
    .serviceInfo {
      width: 100%;
      margin-top: 10px;
    }
  }
  