.myMainSection{
    background-color: #ffffff;
    padding: 0px 0 75px;
}

.activeLink {
    background-color:aliceblue;
    color: #2c8cf4 !important;
    font-weight: 600;
  }

  .link{
    color: #757575;
  }

  .content{
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.1607843137);
  }