

.myMainSection{
    padding: 70px 0;
    background-color: #fafafa;
}

/* SearchPage.module.css */

/* Accordion card header */
.cardHeader {
    background-color: #f8f9fa;
  }

  .cardHeaderTitle{
    padding: 0;
  }

  .cardHeader button{
    background-color: transparent;
  }

  .cardHeader button:hover{
    text-decoration: none;
  }
  
  /* Accordion card body */
  .cardBody {
    padding: 0.75rem 1.25rem;
  }
  
  /* Accordion toggle button */
  .accordionButton {
    color: #000000;
    text-decoration: none;
  }
  
  /* Active (expanded) accordion header */
  .active {
    background-color: #e9ecef;
    text-decoration: none;
  }
  
  /* Custom styling for the accordion content */
  .customAccordionContent {
    margin-top: 10px;
  }
  
  /* Custom styling for the accordion checkboxes */
  .customAccordionCheckbox {
    margin-bottom: 5px;
  }
  
  /* SearchPage.module.css */

  .stickyFilters {
    position: sticky;
    top: 50px; /* Adjust the offset value as needed */
    height: calc(100vh - 50px); /* Adjust the height calculation to account for the offset */
    overflow-y: auto;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .overflow-auto {
    height: calc(100vh - 50px); /* Adjust the height calculation to account for the offset */
    overflow-y: auto;
    padding: 20px; /* Adjust the padding as needed */
  }