.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 50px 0;
  }
  
  .footer h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 16px;
    line-height: 24px;
  }
  
  .footer .socialIcons {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer .socialIcons svg {
    font-size: 24px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
  }
  
  .footer .contactInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .footer .contactInfo .icon {
    margin-right: 10px;
  }
  
  .footer .contactInfo svg {
    font-size: 18px;
  }
  
  .footer ul.quickLinks {
    list-style-type: none;
    padding: 0;
  }
  
  .footer ul.quickLinks li {
    margin-bottom: 10px;
  }
  
  .footer ul.quickLinks li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .footer ul.quickLinks li a:hover {
    color: #cccccc;
  }
  
  .footerBottom {
    padding: 10px 0;
    margin-top: 50px;
  }
  
  .footerBottom p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
  
  .footerBottom p a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footerBottom p a:hover {
    color: #cccccc;
  }
  
  /* footerStyles.module.css */

.facebook {
  color: #3b5998; /* Replace with your desired Facebook color */
}

.twitter {
  color: #1da1f2; /* Replace with your desired Twitter color */
}

.instagram {
  color: #c13584; /* Replace with your desired Instagram color */
}

.youtube {
  color: #ff0000; /* Replace with your desired YouTube color */
}

.linked {
  color: #0077b5; /* Replace with your desired LinkedIn color */
}