/* Navigation.module.css */

.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.logo {
  width: 200px;
  height: auto;
}







.dropdownContainer {
  flex: 0 0 auto;
  margin-right: 10px;
}










.navbar {
  background-color: transparent;
  z-index: 9999;
}

.navbarNavNavLink {
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.navbarNavNavLink:hover {
  color: #007bff;
}

.dropdownMenu {
  margin-top: 10px;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.dropdownItem {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
}


.scrolled {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.scrolled .navbar-nav .nav-link {
  color: dark;
  transition: color 0.3s ease-in-out;
}
