/* Navigation.module.css */

/* Navigation.module.css */

/* Styling for the custom scrollbar */
/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
}

/* For Firefox */
/* Note: Firefox currently only supports a limited set of styles for scrollbar customization */
/* You can adjust the colors and width to fit your design */
/* This example uses a thin, dark scrollbar with a light track background */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
}


.exploreLink .dropdown .dropdownMenu{
  left: auto !important;
  right: 0 !important;
  border-radius: 5px;
  width: auto;
  padding: 20px;
}

.exploreLink .menuCategoryItem{
  margin-bottom: 20px;
  text-align: center;
}

.exploreLink .menuCategoryItem .dropdownIcon{
  padding: 10px 0 5px;
}

.exploreLink .menuCategoryItem .dropdownIcon img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
  border: solid 3px #ffffff;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
}

.exploreLink .menuCategoryItem a{
  color: #333;
  display: block;
  padding: 5px;
}

.exploreLink .menuCategoryItem a:hover{
  color: #333;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.exploreLink .menuCategoryItem a:hover img{
  filter: brightness(135%);
}

.dropdown-menu {
  min-width: 150px; /* Adjust the width as needed */
  left: auto;
  background-color: #ffffff;
}

.logo {
  width: 200px;
  height: auto;
}

.postadNavbar{
  background-color: #fbfbfb !important;
  position: static !important;
}

.postadNavbar.shadow{
  background-color: #ffffff !important;
}


.homepageNavbar{
  background-color: #0056b3;
}

.navbar.homepageNavbar.shadow .navbarNavNavLink{
  color: #d6d6d6 !important;
}


.navbar {
  background-color: transparent;
  z-index: 9999;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.shadow{
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
}

.navbar.shadow .navbarNavNavLink{
  color: #333 !important;
}

.navbarNavNavLink {
  color: #d6d6d6 !important;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.postAdPage{
  z-index: 9999;
}

.postadNavbar .logo {
position: relative;
z-index: 999;
}


.postAdPage .navbarNavNavLink{
  color: #007bff !important;
  padding: 25px 0;
}

.navbarNavNavLink:hover{
  color: #ffffff !important;
}

.navbarNavNavLink:hover {
  color: #007bff;
}

.dropdownMenu {
  margin-top: 10px;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.dropdownItem {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
}


.scrolled {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.scrolled .navbar-nav .nav-link {
  color: dark;
  transition: color 0.3s ease-in-out;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.tabButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}

.tabButton:hover {
  color: #333;
  background-color: transparent;
}

.activeTab {
  color: #fff;
  background-color: #3c6baf;
}

.activeTab:hover{
  background-color: #3c6baf;
  color: #ffffff;
}

.tabContent {

}

.navbar form {
  /* Add styles for the login/register forms */
}

input,
select,
button {
  /* Add styles for form input elements */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 40px !important;
  cursor: pointer;
}

.closeButton:hover {
  background-color: transparent !important;
}

.navbar .formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.navbar .formGroup label {
  margin-right: 10px;
  font-size: 16px;
  color: #3c6baf;
}

.navbar .formGroup input[type=text] {
  flex: 1;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar .formGroup input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.formButton {
  width: 100%;
}

.forgotPassword {
  margin-top: 10px;
  text-align: right;
}

.forgotPassword a {
  color: #3c6baf;
  font-size: 14px;
  text-decoration: none;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

#basic-navbar-nav input,
.popup select,
.popup button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #3c6baf;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #1e447a;
}

.rememberMeContainer {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.rememberMeContainer input[type="checkbox"] {
  margin-right: 10px;
}

.forgotPasswordLink {
  margin-left: auto;
  text-decoration: none;
  color: #3c6baf;
  font-size: 15px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.loginButton:hover {
  background-color: #0056b3;
}

/* Navigation.module.css */

/* Navigation.module.css */

/* Navigation.module.css */

.searchForm {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 600px; /* Set a maximum width for the search form */
  margin: 0 auto; /* Center the search form horizontally */
}


.searchInput {
  width: 500px;
  padding: 22px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-right: 5px;
  background-color: #f5f5f5;
  flex: 1;
  margin-bottom: 0;
}

.searchButton {
  display: flex;
  align-items: center;
  padding: 14px 22px;
  background-color: #007bff;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.searchButton:hover {
  background-color: #0056b3;
}


.navbarNavItemContent {
  display: flex;
  align-items: center;
  height: 100%;
}

.NavLinkActive{
  position: relative;
}

.NavLinkActive i{
  color: #ffffff;
}

.NavLinkActive span{
  color: #ffffff !important;
}

.NavLinkActive::after{
  content: '>';
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #ffffff;
  transform: translateX(-50%) rotate(90deg);
  font-family: monospace;
}

