input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: 0 0 0 transparent !important;
}

.section{
  padding: 40px;
    /* background-color: #f9f9f9; */
    color: #333;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif !important;
}

/* Navigation.module.css */

/* Styling for the dropdown menu */
.dropdownMenu {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #000000 transparent; /* For Firefox */
}

/* Styling for the scrollbar track */
.dropdownMenu::-webkit-scrollbar-track {
  background-color: transparent; /* For Chrome, Safari, and Opera */
}

/* Styling for the scrollbar thumb */
.dropdownMenu::-webkit-scrollbar-thumb {
  background-color: #000000; /* For Chrome, Safari, and Opera */
}

/* Styling for the scrollbar corner */
.dropdownMenu::-webkit-scrollbar-corner {
  background-color: transparent; /* For Chrome, Safari, and Opera */
}
