input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: 0 0 0 transparent !important;
}

.section{
  padding: 40px;
    /* background-color: #f9f9f9; */
    color: #333;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif !important;
}
